<h1>dropdown-v2 Bitches</h1>
<mat-accordion>
        <mat-expansion-panel  *ngFor="let dd of DropDownV2">
            <mat-expansion-panel-header class=dropdown [ngStyle]="{'background-color': dd.color}">
                {{dd.name}}
            </mat-expansion-panel-header>
            <div class=item *ngFor="let item of dd.Titles; let i = index">
                
                    {{item}} : ${{dd.Value[i]}}
                
                <div class=edit_Block>
                    <button >edit</button>
                    <button mat-button>Delete</button>
                </div>
                
            </div>
        </mat-expansion-panel> 
</mat-accordion>