

<div *ngFor='let dd of dropdownItem; let j = index'>
  
  <div [ngStyle]="{'background-color': dd.color}">
    <button (click)=collapse(j)>{{dd.name}}</button>
    <div *ngIf=!varibleArray[j]>
      <ul>
          <li *ngFor='let item of dd.Titles; let i = index' >
              {{item}}: ${{dd.Value[i]}}
          </li>
      </ul>
      <p>Total :{{sum(j)}}</p>
    <button (click)=Collapse_Form(j)>Add New</button>
    <button (click)=ShowHideEdit(j)>Edit Item</button>
    <form *ngIf=!formArray[j]>
      <input #itemtext type = 'text' name = 'itemtext' value = 'Name'/>
      <input #itemvalue type = 'text' name = 'itemvalue' value = 'value'/>
      <button type="button" (click)="Append(j, itemtext.value, itemvalue.value)">
        Submit</button><!-- I think button here-->
    </form>
    <form *ngIf=!editArray[j]>
      <select #combo>
        <option *ngFor="let index of dd.Titles; let k = index" value = {{k}}>
          {{index}}</option>
      </select>
      <input #itemvalue type = 'text' name = 'itemvalue' value = 'value'/>
      <button type="button" (click)="Edit(j, combo.value, itemvalue.value)">Submit</button>
      <button type="button" (click)="Delete(j, combo.value)">Delete</button>

    </form>
    </div>
    
  </div>
</div>
