<div class="container">
    <div id="title">
        <h3>Welcome to McApp, a financial budgeting assistant.</h3>
        <p>Your budgeting assistant will help you be confident in your money management plans.</p>
    </div>
    <hr id="titleSeparate">
    <div id="key">
        <h3>Key Features</h3>
        <ul>
            <li>View all added account balances.</li>
            <li>Add expenses to compare to current balances.</li>
            <li>Add sources of income, such as:</li>
            <ul>
                <li>Employment</li>
                <li>Investment</li>
                <li>Real Estate</li>
                <li>Other</li>
            </ul>
            <li>Categorize your income sources as:</li>
            <ul>
                <li>Daily</li>
                <li>Weekly</li>
                <li>Bi-weekly</li>
                <li>Monthly</li>
                <li>Quarterly</li>
                <li>Yearly</li>
            </ul>
        </ul>
    </div>
</div>

