<div id="title">
    <h2>Welcome to McApp, a financial budgeting assistant.</h2>
    <p>Your budgeting assistant will help you be confident in your money management plans.</p>
</div>

<div id="key">
    <h3>Key Features</h3>
    <ul>
        <li>View all added account balances.</li>
        <li>Add expenses to compare to current balances.</li>
        <li>Add sources of income which can be broken down into:</li>
        <ul>
            <li>Daily</li>
            <li>Weekly</li>
            <li>Bi-weekly</li>
            <li>Monthly</li>
            <li>Quarterly</li>
            <li>Yearly</li>
        </ul>
    </ul>
</div>
